
//---------------- COLORS --------------//
$yellow: #fca311;
$dark-blue: #14213d;
$black: #000;
$light-grey: #e5e5e5;
$white: #fff;

$purple-dark: #22223b;
$purple: #4a4e69;
$purple-light: #9a8c98;
$bej: #c9ada7;
$bej-light: #f2e9e4;

$green1: #87BBA2;
$red1: #690500;
$gold: #FFD639;
$green2: #6DA34D;
$red2: #A30015;
//--------------------------------------//