
<div class="view">
    <app-menu></app-menu>
    <div class="content">
        <div class="task-card" *ngFor="let task of tasks" (click)="navigateToTaskDetails(task)">
            <div class="task-title">
                <strong>{{task.title}}</strong>
            </div>
            <div class="task-content">
                <strong>Assign date: {{task.assignDate}}</strong>
                <strong>Deadline: {{task.deadLine}}</strong>
                {{task.details}}
            </div>
            <div class="down">
                <div class="task-status">
                    <h4>{{task.status.message | uppercase}}</h4>
                </div>
            </div>
        </div>
    </div>
</div>