<div class="view">
    <app-menu></app-menu>
    <div class="content">
        <div class="div1">
            <div class="title">
                <!-- <h1>{{task.title}}</h1> -->
            </div>
        </div>
        <div></div>
        <div class="div2">
            <div class="dates">
                <div class="card flex justify-content-center" style="border-radius: 10px;">
                    <p-calendar class="max-w-full" [(ngModel)]="dates" selectionMode="multiple"
                     [inline]="true" [disabled]="true"></p-calendar>
                </div>
            </div>
            <div class="button">
                <button class="btn btn-success">I will do it</button>
                <button class="btn btn-success">I Can't do it</button>
            </div>

            <div class="progress">
                <h6>Progress:</h6>
                <div class="progress-bar">
                    <p-progressBar [value]="80"></p-progressBar>
                </div>
            </div>
        </div>
    </div>
</div>