<div class="view">
    <app-menu></app-menu>
    <div class="content">
        <div class="div1">
            <div class="title">
                <h1>{{ task.title | uppercase }}</h1>
            </div>
            <div class="details">
                <p>{{ task.details }}</p>
            </div>
            <div class="check-list">
                <div *ngFor="let item of task.checkList" class="check-item">
                    <div>
                        <p-checkbox (ngModelChange)="checkItem($event)" name="group" [value]="item" [(ngModel)]="checkedItems" [inputId]="item.id.toString()"></p-checkbox>
                        <label [for]="item.id">{{ item.text }}</label>
                    </div>
                    <button *ngIf="editItemsCheckList" class="btn delete-btn" (click)="deleteItemCheckList(item.id)">X</button>
                </div>
                <div class="add-item">
                    <form [formGroup]="addItemCheckListForm" *ngIf="addItemCheckList">
                        <input type="text" pInputText formControlName="text" placeholder="text the details for your task"/>
                    </form>
                    <button *ngIf="!addItemCheckList && !editItemsCheckList" class="btn purple-btn" (click)="addItemCheckList = true">Add item</button>
                    <button *ngIf="!addItemCheckList && !editItemsCheckList" class="btn purple-btn" (click)="editItemsCheckList = true">Edit items</button>
                    <button *ngIf="addItemCheckList" class="btn purple-btn" (click)="saveAddItemCheckList()" [disabled]="addItemCheckListForm.invalid">Save</button>
                    <button *ngIf="addItemCheckList" class="btn purple-btn" (click)="closeAddItemCheckList()">Close</button>
                    <button *ngIf="editItemsCheckList" class="btn purple-btn" (click)="saveEditItemsCheckList()">Save</button>
                    <button *ngIf="editItemsCheckList" class="btn purple-btn" (click)="dontSaveEditItemsCheckList()">Close</button>
                </div>
            </div>
        </div>
        <div></div>
        <div class="div2">
            <div class="dates">
                <div class="card flex justify-content-center" style="border-radius: 10px;">
                    <p-calendar class="max-w-full" [(ngModel)]="dates" selectionMode="multiple"
                     [inline]="true" [disabled]="true"></p-calendar>
                </div>
            </div>
            <div class="buttons">
                <button *ngIf="firstButtons" class="btn purple-btn">Accept</button>
                <button *ngIf="firstButtons" class="btn purple-btn">Decline</button>
                <button *ngIf="secondButtons" class="btn purple-btn" (click)="submitTask()">Submit</button>
                <button *ngIf="secondButtons" class="btn purple-btn" (click)="messageOwner()">Message owner</button>
            </div>
            <div class="progress">
                <h6>Progress:</h6>
                <div class="progress-bar">
                    <p-progressBar [value]="+task.progress"></p-progressBar>
                </div>
            </div>
        </div>
    </div>

    <div class="card flex justify-content-center submit-task-modal">
        <p-dialog header="Submit Task" [(visible)]="visibleSubmitTask" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <p class="m-0" *ngIf="+task.progress < 100; else completed">
                Your task is not 100% completed. are you sure you want to submit it this way?
            </p>
            <ng-template #completed>
                <p class="m-0">
                    Are you sure you want to submit the task?
                </p>
            </ng-template>
            <div class="buttons">
                <button class="btn purple-btn">Yes, submit</button>
                <button class="btn purple-btn" (click)="closeSubmitTask()">No, cancel</button>
            </div>
        </p-dialog>
    </div>

    <div class="card flex justify-content-center message-owner-modal">
        <p-dialog header="Message the owner" [(visible)]="visibleMessageOwner" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">
            <p class="m-0">
                Send a message to the owner of the task for further information or if you have uncertainties.
            </p>
            <textarea rows="5" pInputTextarea [autoResize]="true" [(ngModel)]="messageToSend" placeholder="Your message..."></textarea>
            <div class="buttons">
                <button class="btn purple-btn" (click)="cancelMessage()">Cancel</button>
                <button class="btn purple-btn" (click)="sendMessage()" [disabled]="!messageToSend">Send message</button>
            </div>
        </p-dialog>
    </div>
</div>