@import "../../styles/variables.scss";

// progress bar
:host ::ng-deep .p-progressbar-value {
    background-color: $purple;
}
:host ::ng-deep .p-progressbar.p-component {
    height: 100%;
}
:host ::ng-deep p-progressbar.p-element {
    height: 40px;
}

//disabled calendar
:host ::ng-deep .p-calendar-disabled {
    background-color: transparent;
    width: 100%;
}
:host ::ng-deep .p-ripple.p-element.p-highlight {
    background-color: $purple;
    color: $white;
}
:host ::ng-deep .ng-animate-disabled.p-datepicker.p-disabled {
    border-radius: 10px;
    opacity: 1;
}
:host ::ng-deep button.p-datepicker-prev {
    display: none !important;
}
:host ::ng-deep button.p-datepicker-next {
    display: none !important;
}

//checkbox
:host ::ng-deep .p-checkbox-box:hover {
    border-color: $bej;
}
:host ::ng-deep .p-checkbox-box.p-highlight {
    background-color: $bej;
    border-color: $bej;
}
:host ::ng-deep .p-checkbox-box.p-focus {
    border-color: $bej;
}
:host ::ng-deep p-checkbox.p-element {
    margin: 0 10px;
    height: 30px;
    width: 30px;
}
:host ::ng-deep .p-checkbox.p-component {
    height: 100%;
    width: 100%;
}
:host ::ng-deep .p-checkbox-box {
    height: 100%;
    width: 100%;
}
:host ::ng-deep .check-item {
    display: flex;
    align-items: center;
}

//input form
:host ::ng-deep .p-inputtext.p-component.p-element {
    width: 100%;
}

//textarea
:host ::ng-deep textarea {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
}


.view {
    width: 100%;
    height: 100%;
    background-color: $purple-dark;
    overflow-y: auto;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0 20px;
    color: $white;
    display: grid;
    grid-template-columns: 1fr 30px 30%;
}

.div1 {
    p {
        margin: 0;
        font-family: 'Courier New', Courier, monospace;
        font-size: large;
    }
    
    .title {
        color: $bej;
    }

    .details {
        margin: 20px 0;
        padding: 10px;
        background-color: $purple;
        border-radius: 10px;
    }

    .check-list {
        min-width: 50%;
        width: max-content;
        .check-item {
            width: 100%;
            margin: 10px;
            display: flex;
            justify-content: space-between;

            .delete-btn {
                background: transparent;
                color: $white;
                border: 1px solid rgb($white, 0.5);
                &:hover {
                    background: rgb($white, 0.5);
                }
            }
        }

        .add-item {
            margin-left: 20px;

            form {
                margin-top: 20px;
                margin-bottom: 10px;
            }

            button {
                min-width: max-content;
                width: 80px;
                height: 40px;
            }

            button + button {
                margin-left: 10px;
            }
        }
    }
}

.div2 {
    padding: 10px;
    background-color: $bej;
    color: $purple-dark;
    height: 80%;
    max-width: 100%;
    border-radius: 10px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: flex-end;

    .buttons {
        width: 100%;
        height: 60px;
        display: flex;
        justify-content: center;
        align-items: center;
        justify-content: space-between;

        button {
            width: calc(50% - 10px);
            height: 100%;
        }
    }

    .progress {
        display: flex;
        flex-direction: column;
        background-color: transparent;
        height: fit-content;
        width: 100%;

        .progress-bar {
            background-color: transparent;
            height: 40px;
            width: 100%;
        }
    }
}

.submit-task-modal, .message-owner-modal {
    p {
        margin-bottom: 20px !important;
    }

    .buttons {
        display: flex;
        justify-content: center;

        button {
            min-width: max-content;
            width: 80px;
            height: 40px;
        }
        button + button {
            margin-left: 10px;
        }
    }
}

.message-owner-modal {
    p {
        margin-bottom: 0 !important;
    }
}

.purple-btn {
    background-color: $purple;
    color: $white;
    border: none;
}